.drawer {
    width: 150px;
    padding: 20px;
}

.drawerMenu {
    color: white;
    text-decoration: none;
    /* padding-bottom: 7px !important; */
    /* border: 1px solid gray; */
    margin-bottom: 5px !important;
}